@import url(https://fonts.googleapis.com/css?family=Lato:400,300);
* {
  transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
}

#container {
  max-width: 100vw;
  height: 90vh;
  padding: 1vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 32px #1198b0;
}

.manage-group {
  background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
  font-family: Lato, sans-serif;
  border: 1px dotted aquamarine;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0;
  margin: 0 auto;
  height: 100%;
  transition: display 0.5s ease-in-out;
}

.add-participants {
  font-family: Lato, sans-serif;
  display: none;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 52vh;
  height: 100%;
  background-color: #fff;
  transition: display 0.5s ease-in-out;
}

.add-members-popup {
  width: 52vh;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  max-height: 81vh;
  overflow: auto;
}

.add-info {
  margin: 0 auto;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.member {
  display: flex;
  flex-direction: row;
  padding: 0.3rem;
  cursor: pointer;
}

.member:hover {
  background-color: #f0f2f5;
}

.member img {
  width: 3rem;
  height: 3rem;
  margin: 0rem 0.5rem;
}

.member input {
  margin-left: auto;
  height: 19px;
  margin-right: 1rem;
  width: 19px;
}

.member label {
  margin-top: 0.9rem;
}

.member p {
  padding: 0rem 0.4rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#group-img {
  width: 5rem;
  margin: 0 auto;
  margin-top: 10px;
}

.group-name {
  margin: 0 auto;
  font-weight: 600;
  font-size: 1.2rem;
}

.group-info {
  margin: 0.3rem auto;
  font-size: 0.9rem;
}

.group-participants {
  z-index: 0;
  display: flex;
  flex-direction: column;
  max-height: 14rem;
  background-color: #fff;
  overflow: auto;
  border-radius: 1rem;
  margin: 1rem 1rem;
  border: inset;
}

.user {
  cursor: pointer;
  padding: 0.3rem;
  display: flex;
  flex-direction: row;
  justify-content: left;
  border-bottom-style: inset;
}

.user:hover {
  background-color: whitesmoke;
}

.user-popup {
  width: 11rem;
  display: none;
  flex-direction: column;
  position: absolute;
  z-index: 999;
  background-color: #fff;
  bottom: 1.8rem;
  right: 0.9rem;
  padding: 0;
  border: 1px solid #f2f5f5;
  box-shadow: 0 0 2rem #f2f5f5;
  transition: display 0.3s ease-in-out;
}

.leave-group {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  margin: 0 1rem;
  line-height: 3;
  justify-content: center;
  border-radius: 1rem;
  cursor: pointer;
  height: 3rem;
}

.leave-group:hover {
  background-color: rgb(205, 55, 55);
  color: white;
}

.leave-group i {
  padding: 0.9rem 1rem;
  font-size: 1.3rem;
  color: red;
}
.leave-group i:hover,
.leave-group p:hover {
  color: white;
}
.leave-group p {
  color: red;
}

.add-member {
  cursor: pointer;
  display: flex;
  line-height: 3;
  background: rgb(222, 234, 244);
  justify-content: left;
  border-bottom-style: ridge;
}

.add-member:hover {
  background-color: whitesmoke;
}

.add-p {
  position: absolute;
  left: 3.5rem;
  color: #42a3e4;
}

.add-member i {
  color: #42a3e4;
  height: 1.5rem;
  font-size: 0.8rem;
  margin: 1.1rem auto 0.4rem 1rem;
  cursor: pointer;
}

.brief {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.user-popup p {
  width: 100%;
  margin: 0 auto;
  padding: 0.7rem 0.6rem;
}

.user-popup p:hover {
  background-color: #f2f5f5;
}

.user-name {
  margin: 0.7rem 0 0.1rem 0.7rem;
}

.user img {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
}

.user i {
  font-size: 0.8rem;
  margin: 0.9rem 0.4rem 0 auto;
  cursor: pointer;
}

.user span {
  position: absolute;
  margin-top: 0.8rem;
  right: 1.5rem;
  margin-right: 0.7rem;
  font-size: 0.8rem;
}

#back {
  font-size: 2.3rem;
  margin: 0.4rem 1rem;
  display: inline-block;
  cursor: pointer;
  border: inset;
  background-color: lavender;
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 9999;
}

#back-to-manage {
  font-size: 1.6rem;
  margin: 0.4rem 0.4rem;
  display: inline-block;
  cursor: pointer;
}

#next {
  font-size: 1.6rem;
  margin: 0.4rem 0.4rem;
  display: inline-block;
  display: none;
  cursor: pointer;
  color: #42a3e4;
}

.info-header {
  margin: 0rem auto;
  font-size: 1.2rem;
  font-weight: 800;
}

html,
body {
  font-size: 2.5vh;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.meta {
  flex-basis: calc(80% - 50vh);
}
.meta > * {
  transition: none !important;
}
.meta > h1 {
  font-weight: 300;
  font-size: 32px;
  color: white;
}
.meta > p {
  /* line-height: 1.3; */
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
}
.meta a {
  color: rgba(255, 255, 255, 0.6);
}
.meta a:hover {
  color: white;
}

@media (max-width: 750px) {
  .meta {
    display: none;
  }
}

.route {
  display: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  position: relative;
}

div#addMembersPopup {
  padding: 1px 4px;
  max-height: 270px;
  overflow: scroll;
  vertical-align: baseline;
  background: #88d0da38;
  transition: 0.3s ease;
  border-radius: 15px;
  margin-bottom: 2px;
  cursor: pointer;
  border-bottom: groove;
}
.member {
  display: -webkit-box;
  gap: 30px;
}
